body {
    background-color:#875053;
    font-family: "Montserrat", sans-serif;
    color: bisque;
    margin: 0px;
    overflow-y: scroll;
}
.logo {
    max-width: 80px;
}

.main-nav {
    display: flex;
    flex-direction: row;
}
nav a {
    color: black;
    font-size: 15px; /* Tamanho da fonte */
    font-family: "Montserrat", sans-serif;
    display: inline-block; /* Faz com que o link se comporte como um bloco em linha */
    margin: 0 0px; /* Espaçamento horizontal entre os links */
    padding: 15px; /* Espaçamento interno do link */
    text-align: center; /* Alinha o texto no centro */
    text-decoration: none;  /*remove o sublinhado*/
}
.main-nav a:hover {
    background-color: #875053;
    color: bisque;
}
#search {
    display: flex;
    flex-direction: row;
    padding: 1em;
    min-width: 20em;
}
#search input {
    display: flex;
    padding: 0.5em;
    border: solid 1px black;
    flex: 1px;
    border-radius: 10px 10px 10px 10px;
}
#search button {
    border: solid 1px black;
    color: bisque;
    background-color: #875053;
    border-radius: 10px 10px 10px 10px;
}

.group {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1em;
}
.page-header {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*centralizando a barra de pesquisa no centro da pagina*/
    align-items: flex-end;
    background-color: #FFEED6;
}
.slide {
    width: 100%;
    min-height: 50vh;
    background-color: bisque;
    color: bisque;
    display: flex;
    flex-direction: column; /*column is vertical and row is horizontal*/
    justify-content: center; 
    align-items: center;
    background-size: cover; /*esconde o numero do slide para tras da imagem*/
    background-position: center;
    aspect-ratio: 50%; /*define o tamanho da imagem no carrossel*/
    font-family: "Montserrat", sans-serif;
}

.one {
    background-image: url("images/pexels-photo-1123260.webp");
}

.two {
    background-image: url("images/pexels-photo-248413.jpeg");
}

.three {
    background-image: url("images/pexels-photo-391213.webp");
}

.four {
    background-image: url("images/pexels-photo-434311.jpeg");
}

.five {
    background-image: url("images/tuscany-grape-field-nature-51947.jpeg");
}

.slide p {
    font-size: 2em;
    text-shadow: 0px 0px 1px black;
    background-color: bisque; /*cor atras do texto do carrossel*/
    min-width: 150px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    color: black;
}

.page-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: auto; */
}
.card-body {
    color: bisque;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    text-align: center;
    /* background-color: black; */
    padding: 0.5em;
    /* border-radius: 10px 10px 10px 10px; */
    flex: 1;
}

.card-title {
    text-align: center;
    /* margin-top: auto; */
}

.card-image {
    aspect-ratio: 3/6;
    object-fit: cover;
    object-position: center;
    /* margin-top: auto; */
}

.card-description {
    flex: 1;
}

.card-button {
    display: block;
    background-color: black;
    text-align: center;
    padding: 0.5em;
    color: bisque;
    text-decoration: none;
    border-radius: 5% 5% 5% 5%;
}

.price {
    font-weight: bold;
    text-align: center;
}
.price::before {
    content: "$";
}
.page-footer {
    margin-top: 3em; /*espaco entre a corpo de cima e o footer*/;
    padding: 1em; /* espaco entre os links e o topo do footer*/
    min-height: 12em;
    background-color: #875053;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}
.social a {
    display:block;
    padding: 0.5em;
    font-size: 2em;
    color: black;
}

/* product slides */

.product-one {
    background-image: url("images/pexels-photo-1123260.webp");
}

.product-two {
    background-image: url("images/pexels-photo-248413.jpeg");
}

.product-three {
    background-image: url("images/istockphoto-163140861-2048x2048.jpg");
}

.about-content {
    margin-top: 50px;
    display: grid;
    grid: 1fr;
    column-gap: 20px;
    /* row-gap: 30px; */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.banner{
    display: block;
    margin: auto;
    margin-top: 1em;
}